<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kirtanlabs.nammaapartments">

    <uses-sdk tools:overrideLibrary="com.razorpay" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".NammaApartmentsGlobal"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">

        <!-- Ignore this activity for now -->
        <activity android:name=".MainActivity" />

        <!-- Notification Services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".notifications.FirebaseNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".notifications.ActionButtonListener"
            android:exported="false">
            <intent-filter>
                <action android:name="accept_button_clicked" />
                <action android:name="reject_button_clicked" />
            </intent-filter>
        </receiver>

        <!-- Payment Gatway API Key -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_GCFVAY6RGbNWyb" />

        <!-- Launch Screen -->
        <activity
            android:name=".onboarding.launchscreen.LaunchScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash Screens -->
        <activity
            android:name=".onboarding.splashscreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NammaApartmentsTheme" />

        <!-- Login Screens -->
        <activity
            android:name=".onboarding.login.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboarding.login.OTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SignUp and MyFlatDetails Screens -->
        <activity
            android:name=".onboarding.login.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".onboarding.flatdetails.MyFlatDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.ActivationRequired"
            android:screenOrientation="portrait" />

        <!-- Namma Apartments NammaApartmentsHome Screen -->
        <activity
            android:name=".home.activities.NammaApartmentsHome"
            android:screenOrientation="portrait" />

        <!-- Navigation Drawer Screens -->
        <activity
            android:name=".navigationdrawer.UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.myvehicles.activities.MyVehiclesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.myvehicles.activities.AddMyVehicleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.myguards.activities.MyGuardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.mywallet.activities.MyPaymentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.mywallet.activities.TransactionHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.myfood.activities.MyFoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.noticeboard.activities.NoticeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.settings.NammaApartmentSettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".navigationdrawer.help.activities.NammaApartmentsHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.help.activities.ContactUs"
            android:screenOrientation="portrait" />

        <!-- Digital Gate Screens -->
        <activity
            android:name=".services.societyservices.digigate.home.DigitalGateHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.invitevisitors.InvitingVisitors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.myvisitorslist.guests.GuestsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.notifydigitalgate.NotifyGateAndEmergencyHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.notifydigitalgate.arrivals.ExpectingArrival"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".services.societyservices.digigate.notifydigitalgate.handedthings.HandedThings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.mydailyservices.DailyServicesHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.mydailyservices.AddDailyService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.mysweethome.AddFamilyMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.emergency.RaiseAlarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.mysweethome.MySweetHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.myvisitorslist.VisitorsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.myvisitorslist.cabs.CabsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.myvisitorslist.packages.PackagesList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.digigate.notifydigitalgate.handedthings.history.HandedThingsHistory"
            android:screenOrientation="portrait" />

        <!-- Society Services Screen -->
        <activity
            android:name=".services.societyservices.othersocietyservices.activities.SocietyServicesHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.othersocietyservices.activities.AwaitingResponse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.othersocietyservices.activities.SocietyServicesHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.othersocietyservices.activities.SocietyServiceProblemList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.societyservices.othersocietyservices.activities.EventManagement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Apartment Services Screen -->
        <activity
            android:name=".services.apartmentservices.activities.ApartmentServices"
            android:screenOrientation="portrait" />
    </application>

</manifest>