<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartments">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".NammaApartmentsGlobal"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">

        <!-- Ignore these activities for now -->
        <activity android:name=".MainActivity" />

        <!-- Notification Services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".nammaapartmentsservices.societyservices.digitalgate.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".nammaapartmentsservices.societyservices.digitalgate.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".nammaapartmentsservices.societyservices.digitalgate.Button_listener">
            <intent-filter>
                <action android:name="accept_button_clicked" />
                <action android:name="reject_button_clicked" />
            </intent-filter>
        </receiver>

        <!-- Splash Screens -->
        <activity
            android:name=".onboarding.splashscreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NammaApartmentsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screens -->
        <activity
            android:name=".onboarding.login.SignIn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboarding.login.OTP"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SignUp and MyFlatDetails Screens -->
        <activity
            android:name=".onboarding.login.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboarding.flatdetails.MyFlatDetails"
            android:screenOrientation="portrait" />

        <!-- Namma Apartments NammaApartmentsHome Screen -->
        <activity
            android:name=".nammaapartmentshome.NammaApartmentsHome"
            android:screenOrientation="portrait" />

        <!-- Navigation Drawer Screens -->
        <activity
            android:name=".navigationdrawer.UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.NoticeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.nammaapartmentssettings.NammaApartmentSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.nammaapartmentssettings.GeneralSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.nammaapartmentssettings.NotificationSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdrawer.NammaApartmentsHelp"
            android:screenOrientation="portrait" />

        <!-- Digital Gate Screens -->
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.digitalgatehome.DigitalGateHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.invitevisitors.InvitingVisitors"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.myvisitorslist.guests.GuestsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.notifydigitalgate.NotifyGateAndEmergencyHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.notifydigitalgate.arrivals.ExpectingArrival"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.notifydigitalgate.handedthings.HandedThings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.mydailyservices.DailyServicesHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.mydailyservices.AddDailyService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.mysweethome.AddFamilyMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.emergency.RaiseAlarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.mysweethome.MySweetHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.myvisitorslist.VisitorsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.myvisitorslist.cabs.CabsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nammaapartmentsservices.societyservices.digitalgate.myvisitorslist.packages.PackagesList"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".nammaapartmentsservices.societyservices.digitalgate.notifydigitalgate.handedthings.handedthingshistory.HandedThingsHistory" />

        <!--SocietyServices Screen-->
        <activity
            android:name=".nammaapartmentsservices.societyservices.societyservices.SocietyServices"
            android:screenOrientation="portrait" />
        <activity android:name=".nammaapartmentsservices.societyservices.societyservices.AwaitingResponse"
            android:screenOrientation="portrait" />
    </application>

</manifest>