<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtanlabs.nammaapartments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NammaApartmentsTheme">
        <activity
            android:name=".onboarding.splashscreen.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/NammaApartmentsTheme">
                 <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.login.SignIn"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboarding.OTP"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/NammaApartmentsTheme">

        </activity>
        <activity android:name=".onboarding.nammaapartmentsservices.DigitalGateServices">

        </activity>

        <!-- Ignore these activities for now -->
        <activity android:name=".onboarding.flatdetails.MyFlatDetails" />
        <activity
            android:name=".onboarding.login.SignUp"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>